@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Manrope";
}

.background {
  background-image: linear-gradient(0deg, #ffffff6c, #ffffff6c),
    url("./assets/images/background.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

div#root {
  min-height: 100vh;
}

:root {
  --primary-color: hsl(0, 60%, 65%);
  --primary-color-dark: hsl(0, 60%, 60%);
  --primary-color-light: hsl(0, 49%, 93%);
  --backdrop-background-color: hsl(0deg 64% 93% / 40%);
  --backdrop-background-color-hover: hsla(0, 49%, 80%, 0.4);
  --backdrop-background-color-dark: hsla(0, 49%, 85%, 0.4);
}

.font-manrope {
  font-family: "Manrope";
}

.text-primary {
  color: var(--primary-color);
}

.background-primary {
  background-color: var(--primary-color);
}

.background-primary-hover:hover {
  background-color: var(--primary-color-dark) !important;
}

.background-primary-light {
  background-color: var(--primary-color-light) !important;
}

.text-primary-light {
  color: var(--primary-color-light) !important;
}

.background-button-hover:hover {
  background-color: rgba(219, 112, 112, 0.238) !important;
}

.background-button-focus:focus {
  background-color: rgba(219, 112, 112, 0.238) !important;
}

.background-light-hover:hover {
  background-color: hsla(0, 50%, 83%, 0.4) !important;
}

.backdrop-background-color {
  background-color: var(--backdrop-background-color);
}

.backdrop-background-color-hover:hover {
  background-color: var(--backdrop-background-color-hover) !important;
}

.backdrop-background-color-dark {
  background-color: var(--backdrop-background-color-dark) !important;
}

.placeholder-min-h-screen {
  min-height: calc(100vh - 192px);
}

@media only screen and (min-width: 768px) {
  .placeholder-min-h-screen {
    min-height: calc(100vh - 216px);
  }
}

.background {
  background-image: linear-gradient(0deg, #ffffff6c, #ffffff6c),
    url("../../assets/images/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

::selection {
  background: hsla(0, 60%, 65%, 0.25);
}

.radio_svg_fix svg {
  width: 100%;
  height: 100%;
}

.color_white_svg {
  fill: white;
  background-color: white;
  color: white;
}

.color_black_svg {
  fill: black;
  background-color: black;
}

.color_gray_svg {
  fill: gray;
  background-color: gray;
  color: gray;
}

.color_brown_svg {
  fill: #563333;
  background-color: #563333;
  color: #563333;
}

.color_beige_svg {
  fill: #cab58c;
  background-color: #cab58c;
  color: #cab58c;
}

.color_olive_svg {
  fill: #66662c;
  background-color: #66662c;
  color: #66662c;
}

.color_sea_blue_svg {
  fill: #070730;
  background-color: #17175e;
  color: #070730;
}

.color_red_svg {
  fill: #d33737;
  background-color: #d33737;
  color: #d33737;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.custom_shadow {
  box-shadow: rgba(17, 12, 46, 0.21) 0px 24px 100px 0px;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98% 0%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 63% 31%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91% 0%;
    --sidebar-ring: 217.2 91.2% 59.8% 0%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
