.card_background {
  background-color: transparent;
  box-shadow: rgba(17, 12, 46, 0.21) 0px 24px 100px 0px;
  backdrop-filter: blur(16px);
  border-color: transparent;
}

.radio_ring[aria-checked="true"] {
  --tw-ring-color: rgb(127 29 29 / 0.5);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

@media only screen and (max-width: 768px) {
  .background_primary_light_breakpoint {
    background-color: hsl(0, 49%, 93%);
  }
}
